body {
  background: skyblue;
}
main {
  text-align: center;
}
footer {
  text-align: center;
}

#line {
  display: flex;
  justify-content: center;
}

#left {
  text-align: center;
}
#right {
  display: inline-flex;
}

#line * {
  width: 20vw;
}
#start {
  width: 2.5em;
  text-align: left;
}
#word {
  width: auto;
}
button {
  padding: 5px 10px;
}
