body {
  background: skyblue;
}
main {
  text-align: center;
}
footer {
  text-align: center;
}

#time {
  font-size: min(4vw, 7vh);
}

#line {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

#left {
  text-align: center;
  font-size: min(3vw, 5vh);
  width: 30vw;
}
#center {
  font-size: min(4vw, 7vh);
  width: 20vw;
}

#right {
  display: inline-flex;
  width: 30vw;
}
#first {
  width: 7vw;
  text-align: left;
  font-size: min(3vw, 5vh);
  display: flex;
  align-items: center;
}
#word {
  width: 23vw;
  font-size: min(3vw, 5vh);
}
#go {
  font-size: min(3.5vw, 6vh);
  margin: 5vh;
}

button {
  padding: 1vh 2vw;
  margin: 4vh 1vw 8vh;
}

dialog {
  width: 50vw;
  height: 70vh;
}
#modalHeader {
  text-align: right;
  position: fixed;
  width: 50vw;
}
#modalBtn {
  border-radius: 50%;
}

.restart {
  font-size: min(3vw, 5vh);
}
.log {
  font-size: min(3vw, 5vh);
}

h1 {
  margin: 20vh 0;
  font-size: 5vw;
}

#endRestart {
  font-size: 5vw;
  margin: 0 5vw;
}
#endLog {
  font-size: 5vw;
  margin: 0 5vw;
}
#modalBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  padding: 1vh;
  margin: 0;
  font-size: 5vw;
}
#endLogs {
  font-size: 3vw;
}
